
  <%= form_for @person do |f| %>

    <% if @person.errors.any? %>
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div><%= f.text_field :given_name, :placeholder => "Given Name" %></div>
    <div><%= f.text_field :name, :placeholder => "Family Name" %></div>
    <div><%= f.text_field :year_of_birth, :placeholder => "Year of Birth (four digits)" %></div>
    <div> <%= f.text_field :year_of_death, :placeholder => "Year of Death (four digits)" %></div>
    <div><%= f.hidden_field :creator_id, :value => current_user.id %></div>

        <br>

    <h2><%= f.label :parent_ids, "Select Parents" %></h2>
      <%= f.collection_check_boxes(:parent_ids, Person.alphabetize, :id, :display) do |b| %>
        <div><%= b.check_box + b.text %></div>
      <% end %>
        <br>

    <h2>Or Generate New Parents</h2>
        <%= f.fields_for :parents, @person.parents.build do |parent_fields| %>
          <%= render 'fields', :f => parent_fields %>
        <% end %>

        <%= f.fields_for :parents, @person.parents.build do |parent_fields| %>
          <%= render 'fields', :f => parent_fields %>
        <% end %>

        <br>

    <h2><%= f.label :spouse_ids, "Select Spouses or Co-parents" %></h2>
      <%= f.collection_check_boxes(:spouse_ids, Person.alphabetize, :id, :display) do |b| %>
        <div><%= b.check_box + b.text %></div>
      <% end %>

        <br>

    <h2>Or Generate a New Spouse or Co-parent (You may create additional spouses later)</h2>
      <%= f.fields_for :spouses, @person.spouses.build do |spouse_fields| %>
        <%= render 'fields', :f => spouse_fields %>
      <% end %>

        <br>

    <h2><%= f.label :child_ids, "Select Children" %></h2>
        <%= f.collection_check_boxes(:child_ids, Person.alphabetize, :id, :display) do |b| %>
          <div><%= b.check_box + b.text %></div>
        <% end %>

        <br>

    <h2>Or Generate a New Child (You may create additional children later)</h2>
        <%= f.fields_for :children, @person.children.build do |child_fields| %>
          <%= render 'fields', :f => child_fields %>
          <br>
        <% end %>

        <br>

    <h2>Select the City where your Person Lived</h2>
      <div><%= f.collection_check_boxes(:city_ids, City.alphabetize, :id, :display) do |b| %></div>
        <div><%= b.check_box + b.text %></div>
      <% end %>
        <br>

    <h2>Or Create a New City (You may create additional neighborhoods later)</h2>
    <%= f.fields_for :cities, @person.cities.build do |city_fields| %>
      <%= render 'cities/fields', :f => city_fields %>
        <br>
      <% end %>

    <div><%= f.submit %></div>
  <% end %>
