
  <%= form_for @person, :html => {:class => 'form-inline'} do |f| %>
    <% if @person.errors.any? %>
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
      <div><%= f.text_field :given_name, :placeholder => "Given Name" %></div>
      <div><%= f.text_field :name, :placeholder => "Family Name" %></div>
      <div><%= f.select :year_of_birth, (1650..1900), include_blank: "Select Year of Birth" %></div>
      <div><%= f.select :year_of_death, (1800..Time.zone.now.year), include_blank: "Select Year of Death" %></div>
      <div><%= f.text_area :comments, :placeholder => "Comments" %></div>
      <div><%= f.hidden_field :creator_id, :value => current_user.id %></div>


        <br>

    <h2><%= f.label :parent_ids, "Select Parents" %></h2>
      <%= f.collection_check_boxes(:parent_ids, Person.alphabetize, :id, :display) do |b| %>
        <div><%= b.check_box + b.text %></div>
      <% end %>
        <br>

    <h2>Or Generate New Parents</h2>
        <%= f.build_nested_records(:parents, minimum: 2, buffer: 2, maximum: 2) %>
        <%= f.fields_for :parents do |parent_fields| %>
          <div><%= parent_fields.text_field :given_name, value: nil, :placeholder => "Given Name" %></div>
          <div><%= parent_fields.text_field :name, value: nil, :placeholder => "Family Name" %></div>
          <div><%= parent_fields.select :year_of_birth, (1650..1900), value: nil, include_blank: "Select Year of Birth" %></div>
          <div> <%= parent_fields.select :year_of_death, (1800..Time.zone.now.year), value: nil, include_blank: "Select Year of Death" %></div>
          <div> <%= parent_fields.text_area :comments, value: nil, :placeholder => "Comments" %></div>
          <div><%= parent_fields.hidden_field :creator_id, :value => current_user.id %></div>
          <br>
        <% end %>

        <br>

    <h2><%= f.label :spouse_ids, "Select Spouses or Co-parents" %></h2>
      <%= f.collection_check_boxes(:spouse_ids, Person.alphabetize, :id, :display) do |b| %>
        <div><%= b.check_box + b.text %></div>
      <% end %>

        <br>

    <h2>Or Generate a New Spouse or Co-parent (You may create additional spouses later)</h2>
      <%= f.build_nested_records(:spouses, minimum: 1, buffer: 1, maximum: 1) %>
      <%= f.fields_for :spouses do |spouse_fields| %>
        <div><%= spouse_fields.text_field :given_name, value: nil, :placeholder => "Given Name" %></div>
        <div><%= spouse_fields.text_field :name, value: nil, :placeholder => "Family Name" %></div>
        <div><%= spouse_fields.select :year_of_birth, (1650..1900), value: nil, include_blank: "Select Year of Birth" %></div>
        <div> <%= spouse_fields.select :year_of_death, (1800..Time.zone.now.year), value: nil, include_blank: "Select Year of Death" %></div>
        <div> <%= spouse_fields.text_area :comments, value: nil, :placeholder => "Comments" %></div>
        <div><%= spouse_fields.hidden_field :creator_id, :value => current_user.id %></div>
      <% end %>

        <br>

    <h2><%= f.label :child_ids, "Select Children" %></h2>
        <%= f.collection_check_boxes(:child_ids, Person.alphabetize, :id, :display) do |b| %>
          <div><%= b.check_box + b.text %></div>
        <% end %>

        <br>

    <h2>Or Generate a New Child (You may create additional children later)</h2>
      <%= f.build_nested_records(:children, minimum: 1, buffer: 1, maximum: 1) %>
      <%= f.fields_for :children do |child_fields| %>
        <div><%= child_fields.text_field :given_name, value: nil, :placeholder => "Given Name" %></div>
        <%= child_fields.text_field :name, value: nil, :placeholder => "Family Name" %>
        <div><%= child_fields.select :year_of_birth, (1650..1900), value: nil, include_blank: "Select Year of Birth" %></div>
        <div> <%= child_fields.select :year_of_death, (1800..Time.zone.now.year), value: nil, include_blank: "Select Year of Death" %></div>
        <div> <%= child_fields.text_area :comments, value: nil, :placeholder => "Comments" %></div>
        <div><%= child_fields.hidden_field :creator_id, :value => current_user.id %></div>
      <% end %>

        <br>

    <h2>Select the Neighborhoods where your Person Lived</h2>
      <div><%= f.collection_check_boxes(:neighborhood_ids, Neighborhood.alphabetize, :id, :display) do |b| %></div>
        <div><%= b.check_box + b.text %></div>
      <% end %>
        <br>

    <h2>Or Create a New Neighborhood (You may create additional neighborhoods later)</h2>
      <%= f.build_nested_records(:neighborhoods, minimum: 1, buffer: 1, maximum: 1) %>
      <%= f.fields_for :neighborhoods do |neighborhood_fields| %>
        <div><%= neighborhood_fields.text_field :name, value: nil, :placeholder => "Name" %></div>
        <div><%= neighborhood_fields.collection_select :borough_id, Borough.all, :id, :name, value: nil, include_blank: "Select Borough" %></div>
        <div><%= neighborhood_fields.text_area :comments, value: nil, :placeholder => "Comments" %></div>
      <% end %>

    <div><%= f.submit %>
  <% end %>
</form>
