
<h1><%= @person.title_display %></h1>
<h2><%= link_to "Show all People", people_path %></h2>
<h2><%= link_to "Add Another Person", new_person_path %></h2>
<% if can? :manage, @person %>
  <h3><%= link_to "Edit #{@person.title_display}", edit_person_path(@person) %></h3>
  <h3><%= link_to "Delete #{@person.title_display}", person_path(@person), method: :delete %></h3>
<% end %>

<h2>Year of Birth:</h2>

<% if @person.year_of_birth %>
  <%= @person.year_of_birth %>
<% else %>
  <%= link_to "Add Year of Birth", edit_person_path(@person) %>
<% end %>

<h2>Year of Death:</h2>

<% if @person.year_of_death %>
  <%= @person.year_of_death %>
<% else %>
  <%= link_to "Add Year of Death", edit_person_path(@person) %>
<% end %>

<h2>Cities Where <%= @person.title_display %> Lived:</h2>

<% if @person.cities.count > 0 %>
  <% @person.cities.each do |city| %>
    <%= render :partial => "partials/index", locals: {path: city_path(city), item: city} %>
  <% end %>
<% else %>
  <%= link_to "Add a City", new_city_path %>
<% end %>

<h2>Comments:</h2>

<% if @person.comments.length > 0 %>
  <%= @person.comments %>
<% else %>
  <%= link_to "Add Comments", edit_person_path(@person) %>
<% end %>

<h2>Parents:</h2>
<% if @person.parents.count > 0 %>
  <% @person.parents.each do |parent| %>
    <%= render :partial => "partials/index", locals: {path: person_path(parent), item: parent} %>
  <% end %>
<% else %>
  <%= link_to "Add Parents", edit_person_path(@person) %>
<% end %>

<h2>Spouses and Co-parents:</h2>
<% if @person.spouses_for_display.count > 0 %>
  <% @person.spouses_for_display.each do |spouse| %>
    <%= render :partial => "partials/index", locals: {path: person_path(spouse), item: spouse} %>
  <% end %>
<% else %>
  <%= link_to "Add a Spouse", edit_person_path(@person) %>
<% end %>

<h2>Children:</h2>
<% if @person.children.count > 0 %>
  <% @person.children.each do |child| %>
    <%= render :partial => "partials/index", locals: {path: person_path(child), item: child} %>
  <% end %>
<% else %>
  <%= link_to "Add Children", edit_person_path(@person) %>
<% end %>

<h2>Siblings:</h2>
<% if @person.siblings.count > 0 %>
  <% @person.siblings.each do |sibling| %>
    <%= render :partial => "partials/index", locals: {path: person_path(sibling), item: sibling} %>
  <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
<% end %>

<h2>Grandparents:</h2>
<% if @person.grandparents.count > 0 %>
  <% @person.grandparents.each do |grandparent| %>
    <%= render :partial => "partials/index", locals: {path: person_path(grandparent), item: grandparent} %>
  <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
<% end %>

<h2>Grandchildren:</h2>
<% if @person.grandchildren.count > 0 %>
  <% @person.grandchildren.each do |grandchild| %>
    <%= render :partial => "partials/index", locals: {path: person_path(grandchild), item: grandchild} %>
  <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
<% end %>

<h2>Aunts/Uncles:</h2>
<% if @person.aunts_and_uncles.count > 0 %>
  <% @person.aunts_and_uncles.each do |aunt_or_uncle| %>
    <%= render :partial => "partials/index", locals: {path: person_path(aunt_or_uncle), item: aunt_or_uncle} %>
    <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
<% end %>

<h2>Nephews/Nieces:</h2>
<% if @person.nephews_and_nieces.count > 0 %>
  <% @person.nephews_and_nieces.each do |nephew_or_niece| %>
    <%= render :partial => "partials/index", locals: {path: person_path(nephew_or_niece), item: nephew_or_niece} %>
    <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
  <% end %>

<h2>Cousins:</h2>
<% if @person.cousins.count > 0 %>
  <% @person.cousins.each do |cousin| %>
    <%= render :partial => "partials/index", locals: {path: person_path(cousin), item: cousin} %>
  <% end %>
<% else %>
  <%= link_to "Add a New Person", new_person_path %>
<% end %>
