
<h1><%= @person.title_display %></h1>
<h2><%= link_to "Show all People", people_path %></h2>
<% if can? :manage, @person %>
  <h3><%= link_to "Edit #{@person.title_display}", edit_person_path(@person) %></h3>
  <h3><%= link_to "Delete #{@person.title_display}", person_path(@person), method: :delete %></h3>
<% end %>

<h2>Year of Birth:

<% if @person.year_of_birth %>
  <%= @person.year_of_birth %>
<% else %>
  none entered
<% end %></h2>

<h2>Year of Death:

<% if @person.year_of_death %>
  <%= @person.year_of_death %>
<% else %>
  none entered
<% end %></h2>

<h2>Neighborhoods:</h2>

<% if @person.neighborhoods %>
  <% @person.neighborhoods.each do |neighborhood| %>
    <%= render :partial => "partials/index", locals: {path: neighborhood_path(neighborhood), item: neighborhood} %>
  <% end %>
<% else %>
  none entered
<% end %>

<h2>Comments:</h2>

<% if @person.comments %>
  <%= @person.comments %>
<% end %>

<h2>Parents:</h2>
<% if @person.parents %>
  <% @person.parents.each do |parent| %>
    <%= render :partial => "partials/index", locals: {path: person_path(parent), item: parent} %>
  <% end %>
<% else %>
  none entered
<% end %>

<h2>Spouses and Co-parents:</h2>
<% if @person.spouses_for_display %>
  <% @person.spouses_for_display.each do |spouse| %>
    <%= render :partial => "partials/index", locals: {path: person_path(spouse), item: spouse} %>
  <% end %>
<% else %>
  none entered
<% end %>

<h2>Children:</h2>
<% if @person.children %>
  <% @person.children.each do |child| %>
    <%= render :partial => "partials/index", locals: {path: person_path(child), item: child} %>
  <% end %>
<% else %>
  none entered
<% end %>

<h2>Siblings:</h2>
<% if @person.siblings %>
  <% @person.siblings.each do |sibling| %>
    <%= render :partial => "partials/index", locals: {path: person_path(sibling), item: sibling} %>
  <% end %>

<% end %>

<h2>Grandparents:</h2>
  <% @person.grandparents.each do |grandparent| %>
    <%= render :partial => "partials/index", locals: {path: person_path(grandparent), item: grandparent} %>
  <% end %>

<h2>Grandchildren:</h2>
  <% @person.grandchildren.each do |grandchild| %>
    <%= render :partial => "partials/index", locals: {path: person_path(grandchild), item: grandchild} %>
  <% end %>

<h2>Aunts/Uncles:</h2>
  <% @person.aunts_and_uncles.each do |aunt_or_uncle| %>
    <%= render :partial => "partials/index", locals: {path: person_path(aunt_or_uncle), item: aunt_or_uncle} %>
  <% end %>

<h2>Nephews/Nieces:</h2>
  <% @person.nephews_and_nieces.each do |nephew_or_niece| %>
    <%= render :partial => "partials/index", locals: {path: person_path(nephew_or_niece), item: nephew_or_niece} %>
  <% end %>

<h2>Cousins:</h2>
  <% @person.cousins.each do |cousin| %>
    <%= render :partial => "partials/index", locals: {path: person_path(cousin), item: cousin} %>
  <% end %>
