<p style="margin-left: 40px"><a href="/people/{{id}}">{{given_name}} {{name}} (
      {{#if year_of_birth}}
        {{year_of_birth}}
      {{else}}
        ??
      {{/if}}
        -
      {{#if year_of_death}}
        {{year_of_death}}
      {{else}}
        ??
      {{/if}}
    )</a></p>
