  <br><a href="/people/{{id}}">View {{given_name}} {{name}} On a Separate Page</a><br>
<div style="margin-left: 40px">

<p><strong>Year of Birth:</strong></p>

  {{#if year_of_birth}}
    {{year_of_birth}}
  {{else}}
    <a href="/people/{{id}}/edit">Add Year of Birth</a>
  {{/if}}

<p><strong>Year of Death:</strong></p>

{{#if year_of_death}}
  {{year_of_death}}
{{else}}
  <a href="/people/{{id}}/edit">Add Year of Death</a>
{{/if}}

<p><strong>Cities Where {{given_name}} {{name}} Lived:</strong><p>

  {{#if cities}}
    {{#each cities}}
      <li><a href="/cities/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  {{else}}
    <a href="/people/{{id}}/edit">Add Cities</a>
  {{/if}}
</div>
