<h1>Cities in <%= @state.display %></h1>

<h2>Add A City:</h2>
<%= form_for @state.cities.build, :html => {:id => "add_city_to_state"} do |f| %>
  <div><%= f.text_field :name, value: nil, :placeholder => "Name", id: "name_input" %></div>
  <%= f.hidden_field :state_id, :value => @state.id %>
  <div><%= f.submit "Add City" %></div>
<% end %>

<div id="new_city"></div>

<div id="show_cities"><% @state.cities.alphabetize.each do |city| %>
  <h3><%= link_to city.name, city_path(city) %></h3>

<% end %></div>
