
  <% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
  <% end %>

  <h1>Family Tree Builder</h1>
  <h2>For the United States</h2>

  <h3><%= link_to "Index of People", people_path %></h3>
  <h3><%= link_to "Index of Patriarchs and Matriarchs", people_patriarchs_and_matriarchs_path %></h3>
  <h3><%= link_to "Index of Cities", cities_path %></h3>
  <h3><%= link_to "Index of States", states_path %></h3>
