<%= form_for(@city) do |f| %>

  <% if @city.errors.any? %>
    <h2><%= pluralize(@city.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <%= render 'fields', :f => f %>


      <br>

  <h2><%= f.label :people, "Select People who Lived in this City" %></h2>
  <%= f.collection_check_boxes(:person_ids, Person.alphabetize, :id, :display) do |b| %>
    <div><%= b.check_box + b.text %></div>
  <% end %>
       <br>
  <h2><%= link_to "Or Add a New Person", new_person_path %></h2>
  <h3>(You can add a new city on that page also)</h3>
  <div><%= f.submit %></div>
<% end %>
