<h1><%= @city.display %></h1>
<h2><%= link_to "Show all Cities", cities_path %></h2>
<h2><%= link_to "Add Another City", new_city_path %></h3>
<h2><%= link_to "Edit #{@city.display}", edit_city_path(@city) %></h3>

<h2>People who Lived in <%= @city.name %></h2>
  <% @city.people.alphabetize.each do |person| %>
    <%= render :partial => "partials/index", locals: {path: person_path(person), item: person} %>
  <% end %>
