<%= form_for(@neighborhood) do |f| %>

  <% if @neighborhood.errors.any? %>
    <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @neighborhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div><%= f.text_field :name, :placeholder => "Name" %></div>
  <div><%= f.collection_select :borough_id, Borough.all, :id, :name, include_blank: "Select Borough" %></div>
  <div><%= f.text_area :comments, :placeholder => "Comments" %></div>

    <br>
  <h2><%= f.label :people, "Select People who Lived in this Neighborhood" %></h2>
  <%= f.collection_check_boxes(:person_ids, Person.alphabetize, :id, :display) do |b| %>
  <div><%= b.check_box + b.text %></div>
  <% end %>
    <br>
  <h2><%= link_to "Or Add a New Person", new_person_path %></h2>
  <h3>(You can add a new neighborhood on that page also)</h3>
    <div><%= f.submit %></div>
<% end %>
